body {
    background-color: #1a1a1a;
}

h1 {
    background-color: blue;
}

p {
    color: white;
}
.produtos {
    display: flex;
    gap: 20px;
}

.produtos div {
    text-align: center;
}

.produtos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.produtos p {
    font-size: 30px;
}